version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: stopstart
      POSTGRES_PASSWORD: stopstart
      POSTGRES_DB: stopstart
    ports:
      - "5433:5432"        # porta externa 5433 -> interna 5432
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app_net

  api:
    build:
      context: ../backend
      dockerfile: Dockerfile
    environment:
      APP_ENV: development
      DATABASE_URL: postgresql+psycopg2://stopstart:stopstart@db:5432/stopstart
    depends_on:
      - db
    ports:
      - "8000:8000"
    networks:
      - app_net

networks:
  app_net:

volumes:
  db_data:
